<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>
  <%= button_to "Edit this question", edit_question_path(question), method: :post %>
  <%= button_to "Destroy this question", question, method: :delete %>
</div>
