<%= turbo_frame_tag dom_id(question) do %>
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>
  <%= link_to "Edit this question", edit_question_path(question) %>
  <%= button_to "Destroy this question", question, method: :delete %>
<% end %>
